@using LeagueOfLegends.Models
@using System.Data.SqlClient;
@model Dictionary<String, LeagueOfLegends.Models.ChampionSummary>

@{
    ViewBag.Title = "Champion Database";
    List<String> keys = Model.Keys.ToList();
    keys.Sort();
}

<div id="championAnalytics">
    <div id="particles-js3" class="particles-positioning"></div>
    <div class="overlay" style="background-color: #1f1f1f80;">
        <div id="championListContainer">
            <div class="header-block">
                <h4 style="font-size: 110%;">Scroll to See All Champions</h4>
            </div>
            <div class="body-block">
                <table class="table table-hover">
                    <tbody style="background-color: #4040409e;">
                        @foreach (String key in keys)
                        {
                            <tr class="picture-tile" scope="row" value=@key>
                                <td>
                                    <img src="~/Images/Champions/Icon/@Model[key].ChampionImage.full" />
                                </td>
                                <td>
                                    <h6>@Model[key].name, @Model[key].title</h6>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div id="championDataContainer">
        </div>
    </div>
    <div class="screenLoader" style="display: none;">
        <div class="loader"></div>
        <div class="loaderText">Gathering Data</div>
    </div>
</div>
<script>loadParticles("particles-js3");</script>