@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @using (Html.BeginForm("Profile", "Home", FormMethod.Get))
    {
        <label for="inputSummonerName">Summoner Name:</label>
        <input type="text" placeholder="Search for a summoner..." name="sName"/>
        <button type="submit">Search</button>
    }

    <h3>@ViewBag.message</h3>
</div>