@using LeagueOfLegends.Models

@{
    ViewBag.Title = "Summoner Profile";
}

<h2>@ViewBag.summoner.name</h2>
<h4>Summoner Level: @ViewBag.summoner.summonerLevel</h4>
@foreach (Match match in (ViewBag.matchlist as MatchList))
{
    <p>@match.gameId</p>
}
