body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.picture-tile {
    float: left;
    width: 25%;
}

.matchListTile {
    height: 100px;
    background-color: #949494;
    margin-bottom: 15px;
}

.matchChampionIcon {
    width: 100px;
    height: 100%;
    float: left;
}

.matchChampionIcon img {
    width: 100%;
    height: auto;
}

.matchDetails {
    float: left;
}